<div id="content" class="container">
</div>

<div id="modalContainer">
    <div id="addGalleryForm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="AddGallery" aria-hidden="true">
        <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="addGalleryFormLabel">Add Gallery</h3>
        </div>
        <div class="modal-body">
            <div class="span6">
                <form method="post" action="#">
                    <input id="galleryName" class="span6" type="text" name="name" placeholder="Name"> 
                    <div id="addGalleryAlert" class="alert hide">
                        <strong id="addGalleryErrorMessage"></strong>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button id="addGaleryClose" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button id="addGalerySubmit" class="btn btn-primary">Add</button>
        </div>
    </div>

    <div id="addAlbumForm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="AddAlbum" aria-hidden="true">
        <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="addAlbumFormLabel">Add Album</h3>
        </div>
        <div class="modal-body">
            <div class="span6">
                <form method="post" action="#">
                    <input id="albumName" class="span6" type="text" name="name" placeholder="Name"> 
                    <div id="addAlbumAlert" class="alert hide">
                        <strong id="addAlbumErrorMessage"></strong>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button id="addAlbumClose" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button id="addAlbumSubmit" class="btn btn-primary">Add</button>
        </div>
    </div>

    <div pub-key="pub-c-de7a8d7a-782c-4d22-97cc-8bf78fc2e08d"
         sub-key="sub-c-436627b2-0597-11e3-a005-02ee2ddab7fe"
         ssl="off" origin="pubsub.pubnub.com" id="pubnub"></div>
    <script src="http://cdn.pubnub.com/pubnub-3.5.3.min.js"></script>
    <h1>Notifications</h1>
    <textarea id="messagesArea" style="width:100px; height:100px"></textarea>
    <script>
        (function () {
            document.write("")
            PUBNUB.subscribe({
                channel: "Cruela Devil-channel",
                callback: function (message) {
                    message.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
                    document.getElementById('messagesArea').innerHTML += message + '\n';
                }
            });
        })();
    </script>
</div>